main {
  background-color: #eee;
}

.banner-container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.banner {
  display: flex;
  overflow-x: auto;
  width: 1000px;
  gap: 20px;
  scroll-snap-type: x mandatory;
}

.banner-item {
  width: 500px;
  min-width: 720px;
  height: 405px;
  border-radius: 10px;
  scroll-snap-align: center;
  background-size: cover;
  color: #ededed;
  padding: 50px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 200px;
}

.banner-content {
  width: 300px;

  display: flex;
  flex-direction: column;
}

.banner-content h3 {
  font-size: 30px;
}

.banner-content p {
  font-size: 13px;
}

.banner-content a {
  color: black;
  background-color: #ededed;
  padding: 5px 70px;
  border-radius: 20px;
  margin: 20px 0;
  width: 100px;
  text-align: center;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px;
}

.article-container {
  display: flex;
  gap: 20px;
  width: 720;
}

.article-container article {
  background-color: white;
  border-radius: 13px;
  width: 350px;
  height: 500px;
}

/* Debería hacer que las imagenes estén como background-image de un div asi se adaptan a la pantalla cuando se reduce de tamaño*/
.section-image {
  width: 350px;
  border-radius: 13px 13px 0 0;
}

.article-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  margin: 20px;
  height: 110px;
}

.article-content p {
  font-size: 13px;
}

.article-content span {
  font-size: 13px;
  font-weight: bold;
  text-decoration: underline;

  position: absolute;
  bottom: 0;
}

.article-container a:hover span {
  color: #555;
}

.exp-container {
  display: flex;
  position: relative;
}

.article-exp {
  background-color: white;
  width: 350px;
  height: 370px;
  padding: 40px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  position: relative;
}

.exp-image {
  border-radius: 20px;
}

.article-exp a {
  color: black;
  border: 1.5px solid black;
  padding: 3px 70px;
  border-radius: 20px;
  margin: 20px 0;
  width: 80px;
  text-align: center;
  font-weight: bold;

  position: absolute;
  bottom: 0;
}

.article-exp a:hover {
  background-color: #ddd;
}

.article-image {
  width: 430px;
  height: 307px;
  border-radius: 20px;
}

.brands-container {
  display: flex;
  gap: 20px;
}

.brands-container a {
  background-color: white;
  border-radius: 15px;
  width: 150px;
  padding: 10px;
  transition: all 0.3s ease;
}

.brands-container a:hover {
  transform: scale(1.07);
}

.button {
  color: black;
  border: 1.5px solid black;
  padding: 3px 70px;
  border-radius: 20px;
  margin: 20px 0;
  width: 80px;
  text-align: center;
  font-weight: bold;
}

.button:hover {
  background-color: #ddd;
}

.image-brand {
  width: 150px;
  height: 150px;
}
